#textrotator {
    border: 1px solid red;
    display: inline-block;
}

.jsconsole {
  position: relative;
  background-color: #21252b;
  width: 100%;
  height: 450px;
  overflow: hidden;

  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  line-height: 1.75em;
  color: #ccc;
}
.jsconsole .jsconsole-content {
  padding: 25px 20px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break:keep-all;
  /*white-space: pre;*/

}
.jsconsole .jsconsole-content p {
  border-top: 1px solid #21252b;
  border-botom: 1px solid #21252b;
  margin: 0;
  padding: 5px 10px;
  white-space: pre;
}

.jsconsole .jsconsole-content p.line:nth-child(2n) {
  background-color: #3a3f4b;
}
.jsconsole .jsconsole-content p.error {
  background-color: #e0665f;
  color: yellow;
}

.jsconsole .jsconsole-content p.warn {
  background-color: #e2c08d;
  color: #21252b;
}

.jsconsole .jsconsole-content p.success {
  background-color: #568637;
  color: #b4f362;
}
.jsconsole .jsconsole-content p.hr {
  text-align: center;
  color: #21252b;
}



.jsconsole .jsconsole-service {
  position: absolute;
  bottom: 0;
  right: 40px;
  background-color: #282c34;
  font-size: 0.75em;
  padding: 10px 15px;
}
.jsconsole .jsconsole-service a {

  color: #8aa9bf;
}
